body{
    background-color: rgba(214, 253, 253, 0.692);
    color: rgb(0, 0, 0);
    font-family: "Barlow Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: beige;
    color: black;
    font-family: "Barlow Condensed", sans-serif;
}